button {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: 90%;
    margin-bottom: 8px;
}

#elapsed-time {
    font-size: 36px;
}

@media (max-width: 768px) {
    #elapsed-time {
        font-size: 24px;
    }
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 18px;
    margin-bottom: 8px;
}

input[type="text"] {
    font-size: 18px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

input[type="submit"] {
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    width: 90%;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 18px;
    color: #f44336;
    margin-top: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }
    label, input[type="text"], input[type="submit"] {
        font-size: 16px;
        padding: 8px;
    }
    p {
        font-size: 16px;
    }
}