body {
  background-color: #204030; /* dark background color */
  color: #BD9302; /* white text color */
  font-family: 'Courier New', monospace;
  font-weight: lighter;
}

.weekday-button {
  background-color: #a82b11; /* burgundy button color */
  color: #BD9302; /* white text color */
  border: none; /* remove default border */
  display: block; /* stack buttons vertically */
  margin-bottom: 20px; /* add some space between buttons */
  width: 100%; /* make buttons take up the full width */
  font-size: 20px; /* increase font size for buttons */
  padding: 15px; /* add padding to buttons */
  border-radius: 5px; /* add rounded corners to buttons */
  cursor: pointer; /* change cursor to pointer on hover */
  transition: all 01.2s; /* add a smooth transition effect */
}

#quiz {
  text-align: center; /* center elements within the quiz element */
}

#quiz h1 {
  font-size: 30px;
  display: inline-block; /* allow the h1 element to be centered */
}

#elapsed-time {
  position: fixed; /* make the timer element fixed */
  bottom: 0; /* position the timer at the bottom of the screen */
  left: 0; /* align the timer to the left of the screen */
  right: 0; /* align the timer to the right of the screen */
  display: block; /* display the timer as a block element */
  font-size: 30px; /* increase the font size for the timer */
  background-color: #BD9302; /* set the background color for the timer */
  color: #204030; /* set the text color for the timer */
  text-align: center; /* center the text within the timer */
  padding: 20px; /* add some padding to the timer */
}

